[defaults]
roles_path        = ./roles:~/.ansible/roles
collections_path  = ./collections:~/.ansible/collections
inventory         = ./inventory/hosts
callback_whitelist = timer, profile_tasks
stdout_callback   = default
deprecation_warnings = False
# STIG tasks are idempotent; retries waste time
retry_files_enabled = False
# Required for most STIG tasks
host_key_checking = False
# remote_user = 

[privilege_escalation]
become      = True
become_method = sudo

[ssh_connection]
pipelining  = True
